.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.screen-dim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.screen-dim.active {
  opacity: 1;
}
